# **Pandas**

Pandas เป็น Library ตัวหนึ่งในภาษา Python ที่ได้รับความนิยมมากสำหรับการจัดการและวิเคราะห์ข้อมูลตาราง
โดยใน Library นี้ ประกอบด้วยฟังก์ชัน (Function) มากมายที่ช่วยให้ผู้ใช้สามารถทำงานกับข้อมูลได้อย่างมีประสิทธิภาพและยืดหยุ่น

In [ ]:
# How to import pandas library
import pandas as pd

In [ ]:
#add-ons
import numpy as np

# **DataFrame**


โดยชนิดตัวแปรหรือ Data type ของ pandas หลัก ๆ จะใช้เป็น Data Frame

DataFrame คือ ตารางข้อมูล 2 มิติที่ประกอบด้วย columns และ rows

<div>
<br>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" width="700"/>
<br>
</div>

### การประกาศตัวแปรให้เป็น DataFrame

เพื่อสร้าง DataFrame ใน pandas โดยใช้ `pd.DataFrame()` ตามรูปแบบดังนี้:

```python
df = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
```

In [ ]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

## data Parameter

data: ข้อมูลที่ใช้สร้าง DataFrame ซึ่งสามารถเป็นชนิดต่าง ๆ เช่น ndarray, list, dict, Series หรือ DataFrame อื่น ๆ ได้

In [ ]:
data = {
    'col1': [1, 2],
    'col2': [3, 4]
    }

df = pd.DataFrame(data=data)

df

   col1  col2
0     1     3
1     2     4

## dtype Parameter

dtype: ชนิดของข้อมูลที่ใช้สำหรับ DataFrame ซึ่งสามารถเป็นชนิดข้อมูลต่าง ๆ เช่น int, float, str ได้

In [ ]:
d = {
    'col1': [1, 2],
    'col2': [3, 4]
    }

df = pd.DataFrame(data=d, dtype=np.int8) # สร้าง data frame โดยกำหนดให้เป็นข้อมูลประเภท np.int8
df.dtypes # การเช็คประเภทข้อมูลของ data frame

col1    int8
col2    int8
dtype: object

## index Parameter

index: ชุดของ index ที่ใช้สำหรับแถวของ DataFrame ซึ่งสามารถเป็น list, arrays, หรือ index อื่น ๆ ที่เป็นไปได้ได้

In [ ]:
d = {
    'col1': [0, 1, 2, 3],
    'col2': pd.Series([2, 3], index=[1, 3]) # ประการตัวแปร pandas series โดยกำหนดให้ data 2 -> index 1 และ data 3 -> index 3
    }

df = pd.DataFrame(data=d, index=[0, 1, 2, 3])
df

   col1  col2
0     0   NaN
1     1   2.0
2     2   NaN
3     3   3.0

## columns Parameter

columns: ชุดของ columns ที่ใช้สำหรับคอลัมน์ของ DataFrame ซึ่งสามารถเป็น list หรือ arrays ที่เป็นไปได้ได้
<br>
<br>
โดยตัวอย่างจะเห็นได้ว่าข้อมูลนำเข้าเข้าเป้นข้อมูลที่ไม่ได้กำหนด columns และเป็น arrays 2 มิติ
<br>
และมีการกำหนด **columns** ใน parameter ของ **Dataframe**

In [ ]:
data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

df = pd.DataFrame(data=data,columns=['col1', 'col2', 'col3'])

df

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
data = np.array([ (1, 2, 3),
                  (4, 5, 6),
                  (7, 8, 9)
                ],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])

df2 = pd.DataFrame(data, columns=['c', 'a'])

df2

   c  a
0  3  1
1  6  4
2  9  7

# **Read / Write File**

In [ ]:
'/content'

'/content'

## Write File

Write File in **csv** format<br>
ทำการเขียนข้อมูลลงในไฟล์ `file.csv`
<br>
![image.png]()

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 105000]
}
df = pd.DataFrame(data)

df.to_csv('/content/file.csv', index=False)

In [ ]:
df

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

Write File in **xlsx** format (Excel file) <br>
ทำการเขียนข้อมูลลงในไฟล์ `file.xlsx` ซึ่งเป็นไฟล์ Excel ดังภาพ โดยจะอยู่ในหน้าที่ชื่อ `Sheet1`<br>
![image.png]()

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 105000]
}
df = pd.DataFrame(data)

# Write DataFrame to an Excel file
df.to_excel('/content/file.xlsx', index=False, sheet_name='Sheet1')

Write File in **json** format
<br>
ทำการเขียนข้อมูลลงในไฟล์ `file.json` โดยสามารถกำหนดได้ว่าให้เขียนอยู่ในรูปแบบ in-line หรือ ขึ้นบรรทัดใหม่ จากการกำหนด parameter `lines` ใน `to_json` ฟังก์ชัน<br>  parameter `lines` ใน `to_json` โดยถ้าหากกำหนดให้เป็น `True` จะเป็นดังนี้ <br>
![image.png]()

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 105000]
}
df = pd.DataFrame(data)

# Write DataFrame to a JSON file
df.to_json('/content/file.json', orient='records', lines=True)

 parameter `lines` ใน `to_json` โดยถ้าหากกำหนดให้เป็น `False` จะเป็นดังนี้ <br>
 ![image.png]()

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 105000]
}
df = pd.DataFrame(data)

# Write DataFrame to a JSON file
df.to_json('/content/file2.json', orient='records', lines=False)

## Read File

Read file from `file.csv` and save to dataframe

In [ ]:
df = pd.read_csv('/content/file.csv')

print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

Read file from `file.xlsx` and save to dataframe

In [ ]:
df = pd.read_excel('/content/file.xlsx', sheet_name='Sheet1')

print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

Read file from `file.json` and save to dataframe

In [ ]:
df = pd.read_json('/content/file.json', lines=True)

print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

Read file from `file2.json` and save to dataframe

In [ ]:
df = pd.read_json('/content/file2.json', lines=False)

print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

# **Dataframe Infomation**

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [70000, 80000, 120000, 95000, 105000, 85000, 95000, 99000, 110000, 115000]
}

df = pd.DataFrame(data)

In [ ]:
df

      Name  Age          City  Salary
0    Alice   25      New York   70000
1      Bob   30   Los Angeles   80000
2  Charlie   35       Chicago  120000
3    David   40       Houston   95000
4      Eva   45       Phoenix  105000
5    Frank   50  Philadelphia   85000
6    Grace   55   San Antonio   95000
7   Hannah   60     San Diego   99000
8      Ian   65        Dallas  110000
9     Jack   70      San Jose  115000

### `head` Function

การใช้ `.head()` จะแสดงข้อมูล 5 บรรทัดแรกของ Data Frame ดังนี้:
- บรรทัดแรกของ Data Frame
- บรรทัดที่สองของ Data Frame
- บรรทัดที่สามของ Data Frame
- บรรทัดที่สี่ของ Data Frame
- บรรทัดที่ห้าของ Data Frame

การใช้ `.head()` เป็นเครื่องมือที่สะดวกสำหรับดูข้อมูลแรก ๆ ใน Data Frame เพื่อให้เข้าใจโครงสร้างข้อมูลและตรวจสอบการโหลดข้อมูล

In [ ]:
df.head()

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   95000
4      Eva   45      Phoenix  105000

### `tail` Function

การใช้ `.tail()` จะแสดงข้อมูล 5 บรรทัดสุดท้ายของ Data Frame ดังนี้:
- บรรทัดสุดท้ายของ Data Frame
- บรรทัดที่สี่จากท้ายของ Data Frame
- บรรทัดที่สามจากท้ายของ Data Frame
- บรรทัดที่สองจากท้ายของ Data Frame
- บรรทัดแรกจากท้ายของ Data Frame

การใช้ `.tail()` เป็นเครื่องมือที่สะดวกสำหรับดูข้อมูลท้าย ๆ ใน Data Frame เพื่อให้เข้าใจเกี่ยวกับข้อมูลที่สุดท้ายในชุดข้อมูล

In [ ]:
df.tail()

     Name  Age          City  Salary
5   Frank   50  Philadelphia   85000
6   Grace   55   San Antonio   95000
7  Hannah   60     San Diego   99000
8     Ian   65        Dallas  110000
9    Jack   70      San Jose  115000

### `columns` Attribute

การใช้ `.columns` จะแสดงข้อมูลเกี่ยวกับคอลัมน์ทั้งหมดใน Data Frame ดังนี้:

- รายชื่อของคอลัมน์ทั้งหมดใน Data Frame

In [ ]:
df.columns

Index(['Name', 'Age', 'City', 'Salary'], dtype='object')

## info

การใช้ `.info()` จะทำการแสดงของมูลของ Data Frame ประกอบไปด้วย
 1. Data Frame Datatype: แสดงชนิดของ Data Frame ว่าเป็น object หรือ DataFrame ชนิดอื่น ๆ
 2. ขนาดของข้อมูล (Rows, Columns): แสดงจำนวนแถว (Rows) และจำนวนคอลัมน์ (Columns) ใน Data Frame
 3. ข้อมูลแต่ละ Columns: แสดงรายละเอียดของแต่ละคอลัมน์ ได้แก่ ลำดับคอลัมน์ (Column Number), ชื่อคอลัมน์ (Column Name), จำนวนค่าที่ไม่ใช่ null (Non-null count), และชนิดข้อมูลของคอลัมน์ (Datatype)
 4. ข้อมูลสรุป Datatype: รายละเอียดเกี่ยวกับชนิดข้อมูลทั้งหมดที่ปรากฏใน Data Frame
 5. การใช้ Memory ของ Data Frame: แสดงขนาดของ Memory ที่ใช้โดย Data Frame <br> <br>
 ![image.png]()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   City    10 non-null     object
 3   Salary  10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

### `describe` Parameters

การใช้ `.describe()` จะแสดงข้อมูลสถิติเชิงพรรณนาของคอลัมน์ที่มีข้อมูลประเภทตัวเลขใน Data Frame ดังนี้:
1. **count**: จำนวนข้อมูลที่มี
2. **mean**: ค่าเฉลี่ยของข้อมูล
3. **std**: ค่าเบี่ยงเบนมาตรฐาน
4. **min**: ค่าต่ำสุด
5. **25%**: ค่า quantile ที่ 25%
6. **50%**: ค่า median หรือ quantile ที่ 50%
7. **75%**: ค่า quantile ที่ 75%
8. **max**: ค่าสูงสุด

การใช้ `.describe()` เป็นเครื่องมือที่สะดวกสำหรับดูภาพรวมของข้อมูลตัวเลขใน Data Frame ที่ช่วยในการวิเคราะห์และทำความเข้าใจเกี่ยวกับการกระจายของข้อมูลได้ง่าย ๆ

In [ ]:
df.describe()

             Age         Salary
count  10.000000      10.000000
mean   47.500000   97400.000000
std    15.138252   15840.875397
min    25.000000   70000.000000
25%    36.250000   87500.000000
50%    47.500000   97000.000000
75%    58.750000  108750.000000
max    70.000000  120000.000000

### การเข้าถึงข้อมูล

โดยสามารถเข้าถึงข้อมูลต่าง ๆ ได้โดยวิธีการต่อไปนี้

In [ ]:
df['Age'].mean()

47.5

In [ ]:
df['Age'].median()

47.5

In [ ]:
df['Age'].std()

15.138251770487457

In [ ]:
df['Age'].var()

229.16666666666666

In [ ]:
df['Age'].min()

25

In [ ]:
df['Age'].max()

70

In [ ]:
df['Age'].sum()

475

In [ ]:
df['Age'].count()

10

In [ ]:
df['Age'].quantile([0.25, 0.5, 0.75])

0.25    36.25
0.50    47.50
0.75    58.75
Name: Age, dtype: float64

### `corr` Parameters

การใช้ `.corr()` จะแสดง Matrix Correlation ของ DataFrame นั้น
- Correlation จะแสดงให้เห็นว่าข้อมูลต่าง ๆ สัมพันธ์กันอย่างไร
- โดยจะมีค่าระหว่าง `-1.0` ถึง `+1.0`:
  - หากมีค่าใกล้ `-1.0` หมายความว่าตัวแปรทั้งสองตัวมีความสัมพันธ์กันอย่างมากในเชิงตรงกันข้าม
  - หากมีค่าใกล้ `+1.0` หมายความว่าตัวแปรทั้งสองมีความสัมพันธ์กันโดยตรงอย่างมาก
  - หากมีค่าเป็น `0` หมายความว่าตัวแปรทั้งสองตัวไม่มีความสัมพันธ์ต่อกัน


<image src="https://static.wixstatic.com/media/1a8a04_2f8202fbd95241ea88e5976bbd9f4adc~mv2_d_2954_5238_s_4_2.png/v1/fill/w_740,h_1312,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/1a8a04_2f8202fbd95241ea88e5976bbd9f4adc~mv2_d_2954_5238_s_4_2.png" height="700">

In [ ]:
data = {
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'Salary': [70000, 80000, 120000, 95000, 105000, 85000, 95000, 99000, 110000, 115000],
    'Experience': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19],
    'Performance_Score': [78, 85, 88, 90, 94, 87, 89, 92, 95, 96]
}

df = pd.DataFrame(data)

df.corr()

                        Age    Salary  Experience  Performance_Score
Age                1.000000  0.567595    1.000000           0.825540
Salary             0.567595  1.000000    0.567595           0.798572
Experience         1.000000  0.567595    1.000000           0.825540
Performance_Score  0.825540  0.798572    0.825540           1.000000

### Covariance

Covariance เป็นการวัดความสัมพันธ์ระหว่างตัวแปร โดยมี 2 ประเภท ได้แก่:

1. **Positive Covariance**: เมื่อตัวแปรทั้งสองมีแนวโน้มที่จะเปลี่ยนแปลงค่าไปในทิศทางเดียวกัน หากค่าของตัวแปรหนึ่งเพิ่มขึ้น จะมีแนวโน้มที่ตัวแปรอีกตัวจะเพิ่มขึ้นด้วย

2. **Negative Covariance**: เมื่อตัวแปรทั้งสองมีแนวโน้มที่จะเปลี่ยนแปลงค่าในทิศทางตรงข้ามกัน หากค่าของตัวแปรหนึ่งเพิ่มขึ้น จะมีแนวโน้มที่ตัวแปรอีกตัวจะลดลง

Covariance ช่วยในการวิเคราะห์ความสัมพันธ์ระหว่างตัวแปรที่สำคัญในการวิเคราะห์ข้อมูลเชิงความสัมพันธ์

In [ ]:
df.cov()

,Age,Salary,Experience,Performance_Score
Age,229.166667,1.361111e+05,91.666667,67.222222
Salary,136111.111111,2.509333e+08,54444.444444,68044.444444
Experience,91.666667,5.444444e+04,36.666667,26.888889
Performance_Score,67.222222,6.804444e+04,26.888889,28.933333

### `unique()` Function

ฟังก์ชัน `.unique()` ใน pandas ใช้สำหรับการดึงค่าที่ไม่ซ้ำกัน (unique values) จาก Series หรือคอลัมน์ใน Data Frame ดังนี้:

- **การดึงค่าที่ไม่ซ้ำกัน**: `.unique()` จะคืนค่าที่ไม่ซ้ำกันในลิสต์ (list) โดยจะไม่รวม NaN (หากมี) ในผลลัพธ์

In [ ]:
data = {'Name': ['John', 'Alice', 'Bob', 'Alice', 'John'],
        'Age': [28, 25, 32, 25, 28]}

df = pd.DataFrame(data)

unique_names = df['Name'].unique()
print(unique_names)

['John' 'Alice' 'Bob']

### Changing Data Type

การเปลี่ยนแปลง (Changing) หรือเปลี่ยนรูปแบบข้อมูล (Data Type) ใน pandas สามารถทำได้โดยใช้ฟังก์ชัน `.astype()` ซึ่งใช้สำหรับเปลี่ยนแปลงประเภทของข้อมูลใน Series หรือ Data Frame ดังนี้:

- **การใช้ `.astype()`**: ฟังก์ชันนี้ใช้เพื่อเปลี่ยนประเภทของข้อมูลใน Series หรือคอลัมน์ของ Data Frame ไปเป็นประเภทข้อมูลที่ต้องการ เช่น int, float, string, datetime, category, หรือ object ตามที่เหมาะสม

In [ ]:
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': ['28', '25', '32']}

df = pd.DataFrame(data)

print(df.dtypes)

df['Age'] = df['Age'].astype(int)

print(df.dtypes)

Name    object
Age     object
dtype: object
Name    object
Age      int64
dtype: object

# **Loc and Iloc**

### Sample data

In [ ]:
# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 105000]
}

df = pd.DataFrame(data)
# Custom index labels
index_labels = ['A', 'B', 'C', 'D', 'E']

# Set the custom index
df.index = index_labels
df

      Name  Age         City  Salary
A    Alice   25     New York   70000
B      Bob   30  Los Angeles   80000
C  Charlie   35      Chicago  120000
D    David   40      Houston   95000
E      Eva   45      Phoenix  105000

## loc

### `loc` - Label-based Access

การใช้ `.loc` เป็นการเข้าถึงข้อมูลใน Data Frame โดยใช้ label หรือชื่อของ rows และ columns ในการอ้างอิงโดยตรง ดังนี้:

- **การใช้ label ในการอ้างอิง rows**: เราสามารถใช้ label ของแถว (rows) เพื่อเข้าถึงข้อมูลใน Data Frame
- **การใช้ label ในการอ้างอิง columns**: เราสามารถใช้ label ของคอลัมน์ (columns) เพื่อเข้าถึงข้อมูลใน Data Frame

จากตัวอย่างจะเห็นได้ว่ามีการเข้าถึงข้อมูลโดยใช้ `B` เป็นการระบุว่าต้องการแถวที่มี index name เป็น `B`

In [ ]:
row_2 = df.loc['B']
print("\nRow with label B (Charlie):")
print(row_2)

Row with label B (Charlie):
Name              Bob
Age                30
City      Los Angeles
Salary          80000
Name: B, dtype: object

รวมทั้งยังสามารถเข้าถึงข้อมูลได้หลายแถวพร้อมกันจากตัวอย่างจะแสดงให้เห็นว่ามีการคืนค่ามาเป็น 2 แถวคือ `A` และ `C`

In [ ]:
rows_1_3 = df.loc[['A', 'C']]
print("\nRows with labels A and C (Bob and David):")
print(rows_1_3)

Rows with labels A and C (Bob and David):
      Name  Age      City  Salary
A    Alice   25  New York   70000
C  Charlie   35   Chicago  120000

สารมารเข้าถึงข้อมูลโดยที่เป็นลำดับขั้นต่อกันได้โดยใช้เครื่องมหมาย `:` (colon symbol) จากตัวอย่างเป็นการระบุว่าต้องการข้อมูลแถว `A` ถึงแถว `C`:

In [ ]:
rows_1_to_3 = df.loc['A':'C']
print("\nRows from label A to C:")
print(rows_1_to_3)

Rows from label A to C:
      Name  Age         City  Salary
A    Alice   25     New York   70000
B      Bob   30  Los Angeles   80000
C  Charlie   35      Chicago  120000

สามารถระบุ columns ที่ต้องการได้โดยเพิ่ม parameters เข้าไปยังฟังก์ชัน loc

จากตัวอย่างเห็นได้ว่ามีการเพิ่ม `['Name', 'Age']` เข้าไปยังฟังก์ชัน loc และมีการคืนค่าเฉพาะ columns `Name` และ `Age`

In [ ]:
subset = df.loc[['A', 'C'], ['Name', 'Age']]
print("\n'Name' and 'Age' columns for rows with labels A and C:")
print(subset)

'Name' and 'Age' columns for rows with labels A and C:
      Name  Age
A    Alice   25
C  Charlie   35

การระบุ columns ยังสามารถใช้กับช่วงข้อมูลของ rows ได้

จากตัวอย่างเป็นการเข้าถึงข้อมูลจาก rows `A` ถึง `C` และต้องการแค่ columns `Name` และ `Age`

In [ ]:
subset = df.loc['A':'C', ['Name', 'Age']]
print("\n'Name' and 'Age' columns for rows with labels A and C:")
print(subset)

'Name' and 'Age' columns for rows with labels A and C:
      Name  Age
A    Alice   25
B      Bob   30
C  Charlie   35

โดยการระบุช่วงสามารถใช้กับ columns name ได้โดยการใช้เครื่องหมาย `:` (colon symbol) เหมือนกับการระบุช่วงของ rows

โดยตัวอย่างจะมีการเรียกข้อมูลจาก rows `A` ถึง `C` และ columns `Name` ถึง `City`

In [ ]:
subset = df.loc['A':'C', 'Name':'City']
print("\n'Name' to 'City' columns for rows with labels A and C:")
print(subset)

'Name' to 'City' columns for rows with labels A and C:
      Name  Age         City
A    Alice   25     New York
B      Bob   30  Los Angeles
C  Charlie   35      Chicago

โดยการใช้ loc สามารถใช้ เงื่อนไข ที่ระบุเพื่อให้คืนค่ามาตรงกับความต้องการในการใช้ได้

จากตัวอย่างต้องการข้อมูลทั้งหมดที่มีค่า `Age` มากกว่า `30`

In [ ]:
age_greater_than_30 = df.loc[df['Age'] > 30]
print("\nRows where 'Age' is greater than 30:")
print(age_greater_than_30)

Rows where 'Age' is greater than 30:
      Name  Age     City  Salary
C  Charlie   35  Chicago  120000
D    David   40  Houston   95000
E      Eva   45  Phoenix  105000

## iloc

### `iloc` - Integer Position-based Access

การใช้ `.iloc` เป็นการเข้าถึงข้อมูลใน Data Frame โดยใช้ integer position หรือตำแหน่งในการระบุข้อมูลที่ต้องการ โดยการนับตำแหน่งจะเริ่มต้นที่ 0 ดังนี้:

- **การใช้ integer position ในการอ้างอิง rows**: เราสามารถใช้ตำแหน่ง (index) ของแถว (rows) เพื่อเข้าถึงข้อมูลใน Data Frame
- **การใช้ integer position ในการอ้างอิง columns**: เราสามารถใช้ตำแหน่ง (index) ของคอลัมน์ (columns) เพื่อเข้าถึงข้อมูลใน Data Frame

(การนับ index จะเริ่มการนับจาก 0 )

In [ ]:
df

      Name  Age         City  Salary
A    Alice   25     New York   70000
B      Bob   30  Los Angeles   80000
C  Charlie   35      Chicago  120000
D    David   40      Houston   95000
E      Eva   45      Phoenix  105000

จากตัวอย่างจะเป็นการะบุว่าต้องการข้อมูลในแถวที index = 2 หรือก็คือแถวที่ 3

In [ ]:
row_2 = df.iloc[2]
print("\nRow at integer position 2:")
print(row_2)

Row at integer position 2:
Name      Charlie
Age            35
City      Chicago
Salary     120000
Name: C, dtype: object

สามารถระบุแถวที่ต้องการได้หลายแถวเหมือนกับ `loc` โดยการส่งเข้าเป็น array ของ index

จากตัวอย่างต้องการข้อมูลแถว index ที่ 1 และ 3

In [ ]:
rows_1_3 = df.iloc[[1, 3]]
print("\nRows at integer positions 1 and 3:")
print(rows_1_3)

Rows at integer positions 1 and 3:
    Name  Age         City  Salary
B    Bob   30  Los Angeles   80000
D  David   40      Houston   95000

การใช้ index slicing หรือ เครื่องหมาย `:` กับ index

สามารถใช้เป็นช่วงได้เหมือนกับ `loc` โดยการใช้เครื่องหมาย `:` (colon symbol)

รูปแบบการใช้งานมีดังนี้:

- **`[start_index]:[end_index]`**: เอาตั้งแต่ `start_index` ถึง `end_index - 1`
  - ตัวอย่าง: `df.loc[2:5]` จะเลือกแถวที่มี index ตั้งแต่ 2 ถึง 4

- **`[start_index]:`**: เอาตั้งแต่ `start_index` ถึงข้อมูลสุดท้าย
  - ตัวอย่าง: `df.loc[2:]` จะเลือกแถวที่มี index ตั้งแต่ 2 ถึงแถวสุดท้าย

- **`:[end_index]`**: เอาตั้งแต่ index 0 ถึง `end_index - 1`
  - ตัวอย่าง: `df.loc[:5]` จะเลือกแถวที่มี index ตั้งแต่ 0 ถึง 4

โดยการกำหนด `end_index` ถ้าหากต้องการแถวที่ index 2 ถึง 4 จะต้องระบุเป็น `2:5` โดยจะต้อง `+1` กับ index สุดท้าย

In [ ]:
rows_1_to_3 = df.iloc[1:4]
print("\nRows from integer position 1 to 3:")
print(rows_1_to_3)

Rows from integer position 1 to 3:
      Name  Age         City  Salary
B      Bob   30  Los Angeles   80000
C  Charlie   35      Chicago  120000
D    David   40      Houston   95000

In [ ]:
rows_1_to_3 = df.iloc[:2]
print("\nRows from integer position 1 to 3:")
print(rows_1_to_3)

Rows from integer position 1 to 3:
    Name  Age         City  Salary
A  Alice   25     New York   70000
B    Bob   30  Los Angeles   80000

In [ ]:
rows_1_to_3 = df.iloc[3:]
print("\nRows from integer position 1 to 3:")
print(rows_1_to_3)

Rows from integer position 1 to 3:
    Name  Age     City  Salary
D  David   40  Houston   95000
E    Eva   45  Phoenix  105000

สามารถระบุ columns ที่ต้องการได้และสามารถใช้ index slicing ได้เช่นกัน

In [ ]:
subset = df.iloc[[1, 3], [0, 1]]
print("\nFirst and second columns for rows at integer positions 1 and 3:")
print(subset)

First and second columns for rows at integer positions 1 and 3:
    Name  Age
B    Bob   30
D  David   40

In [ ]:
subset = df.iloc[[1, 3], 0:3]
print("\nFirst to Third columns for rows at integer positions 1 and 3:")
print(subset)

First to Third columns for rows at integer positions 1 and 3:
    Name  Age         City
B    Bob   30  Los Angeles
D  David   40      Houston

สามารถใช้ condition ในการกรองข้อมูลของ `loc` ก่อนแล้วนำมาใช้ `iloc` ต่อได้ในภายหลัง

In [ ]:
# Get boolean array for rows where 'Age' is greater than 30
condition = df['Age'] > 30

# Use the boolean array to select rows, then select specific columns
age_greater_than_30 = df.loc[condition].iloc[:, [0, 2]]
print("\n'Name' and 'City' columns for rows where 'Age' is greater than 30:")
print(age_greater_than_30)

'Name' and 'City' columns for rows where 'Age' is greater than 30:
      Name     City
C  Charlie  Chicago
D    David  Houston
E      Eva  Phoenix

# **Drop / Fill / Replace**

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Alice', 'Grace', 'Henry', 'Ivy', 'Jack', 'Kevin', 'Laura', 'Mona'],
    'Age': [25, 30, 35, 40, 45, 25, np.nan, 55, 60, np.nan, np.nan, np.nan, np.nan],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'New York', 'San Antonio', 'Dallas', np.nan, 'San Jose', 'Miami', 'Orlando', np.nan],
    'Salary': [70000, 80000, 120000, 95000, 105000, 70000, 90000, 110000, 115000, 95000, np.nan, np.nan, np.nan]
}


df = pd.DataFrame(data)
df.index = df['Name']
df = df.drop('Name',axis=1)

print("Original DataFrame:")
print(df)

Original DataFrame:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace     NaN  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack      NaN     San Jose   95000.0
Kevin     NaN        Miami       NaN
Laura     NaN      Orlando       NaN
Mona      NaN          NaN       NaN

## Drop Duplicates

ฟังก์ชัน `.drop_duplicates()` ใน pandas ใช้สำหรับลบข้อมูลที่ซ้ำซ้อนออกจาก Data Frame ดังนี้:

- **การลบข้อมูลที่ซ้ำ**: `.drop_duplicates()` จะทำการตรวจสอบและลบแถวที่มีข้อมูลซ้ำกันทั้งหมดออกจาก Data Frame โดยค่าเริ่มต้นจะถือว่าข้อมูลซ้ำถ้าทุกคอลัมน์มีค่าเหมือนกัน

In [ ]:
df_no_duplicates = df.drop_duplicates()

print("\nDataFrame after dropping duplicates:")
print(df_no_duplicates)

DataFrame after dropping duplicates:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Grace     NaN  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack      NaN     San Jose   95000.0
Kevin     NaN        Miami       NaN
Laura     NaN      Orlando       NaN
Mona      NaN          NaN       NaN

## Drop NaN Values

**NaN Values** คือเป็นการจัดเก็บข้อมูลประเภทข้อมูลที่ไม่สมบูรณ์หรือผิดพลาดเพื่อให้สามารถจัดเก็บได้

โดย pandas library มีฟังก์ชันที่รองรับข้อมูล NaN เป้น `dropna()`
เป็นการลบข้อมูลทีมี Nan อยู่ในแถวตาม parameters ทั้งหมดโดยถ้าหากใช้ปกติจะลบแถวทั้งหมดที่มี Nan

`dropna` Parameters

- **thresh**:
  - จะ Drop แถวนั้นก็ต่อเมื่อในแถวนั้นมี NaN อยู่อย่างน้อยเท่ากับที่กำหนด
  - ถ้า `thresh=2` จะ Drop แถวนั้นก็ต่อเมื่อแถวนั้นมี NaN อย่างน้อย 2 ตัว

- **how**: มีอยู่ 2 แบบคือ `any` และ `all` โดยปกติจะเป็น `any`
  - `any`: จะเป็นการ Drop ทุกแถวที่มี NaN อย่างน้อยหนึ่งตัว
  - `all`: จะเป็นการ Drop แถวที่ประกอบด้วย NaN ทั้งหมด

- **axis**: มี 2 ค่าคือ `0` และ `1`
  - `0`: จะเป็นการลบ Rows
  - `1`: จะเป็นการลบ Columns

- **inplace**: เป็น boolean โดยปกติจะเป็น `false`
  - ถ้าเป็น `false`: จะสร้าง DataFrame ใหม่และจะต้องมีตัวแปรมารองรับ
  - ถ้าเป็น `true`: จะทำการปรับ DataFrame เดิม

- **ignore_index**: เป็น boolean โดยปกติจะเป็น `false`
  - ถ้าเป็น `false`: จะไม่ทำการ reset ค่า index ของ DataFrame
  - ถ้าเป็น `true`: จะทำการเปลี่ยนค่า index เป็น 0, 1, 2, ... , n - 1

In [ ]:
df_no_nan = df.dropna()

print("\nDataFrame after dropping rows with any NaN values:")
print(df_no_nan)

df_no_nan_2 = df.dropna(thresh=2)

print("\nDataFrame after dropping rows with any more than 2 NaN values:")
print(df_no_nan_2)

df_no_nan_all = df.dropna(how='all')

print("\nDataFrame after dropping rows where all values are NaN:")
print(df_no_nan_all)

df_no_nan_columns = df.dropna(axis=1)

print("\nDataFrame after dropping columns with any NaN values:")
print(df_no_nan_columns)

df_no_nan = df.dropna(ignore_index=True)

print("\nDataFrame after dropping rows with any NaN values:")
print(df_no_nan)

DataFrame after dropping rows with any NaN values:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Henry    55.0       Dallas  110000.0

DataFrame after dropping rows with any more than 2 NaN values:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace     NaN  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack      NaN     San Jose   95000.0

DataFrame after dropping rows where all values are NaN:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace     NaN  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack      NaN     San Jose   95000.0
Kevin     NaN        Miami       NaN
Laura     NaN      Orlando       NaN

DataFrame after dropping columns with any NaN values:
Empty DataFrame
Columns: []
Index: [Alice, Bob, Charlie, David, Eva, Alice, Grace, Henry, Ivy, Jack, Kevin, Laura, Mona]

DataFrame after dropping rows with any NaN values:
    Age         City    Salary
0  25.0     New York   70000.0
1  30.0  Los Angeles   80000.0
2  35.0      Chicago  120000.0
3  40.0      Houston   95000.0
4  45.0      Phoenix  105000.0
5  25.0     New York   70000.0
6  55.0       Dallas  110000.0

## Drop Specific Rows/Columns

เนื่องจากมีการ drop NaN แล้ว pandas ยังมีการ drop แบบปกติเพื่อนำข้อมูลที่ไม่ต้องการออกจาก DataFrame ได้ โดยกำหนดเป็น `index` และ `columns`

In [ ]:
df_dropped_row = df.drop(index='Charlie')

print("\nDataFrame after dropping the row with index 3:")
print(df_dropped_row)

df_dropped_column = df.drop(columns='Salary')

print("\nDataFrame after dropping the 'Salary' column:")
print(df_dropped_column)

DataFrame after dropping the row with index 3:
        Age         City    Salary
Name
Alice  25.0     New York   70000.0
Bob    30.0  Los Angeles   80000.0
David  40.0      Houston   95000.0
Eva    45.0      Phoenix  105000.0
Alice  25.0     New York   70000.0
Grace   NaN  San Antonio   90000.0
Henry  55.0       Dallas  110000.0
Ivy    60.0          NaN  115000.0
Jack    NaN     San Jose   95000.0
Kevin   NaN        Miami       NaN
Laura   NaN      Orlando       NaN
Mona    NaN          NaN       NaN

DataFrame after dropping the 'Salary' column:
          Age         City
Name
Alice    25.0     New York
Bob      30.0  Los Angeles
Charlie  35.0      Chicago
David    40.0      Houston
Eva      45.0      Phoenix
Alice    25.0     New York
Grace     NaN  San Antonio
Henry    55.0       Dallas
Ivy      60.0          NaN
Jack      NaN     San Jose
Kevin     NaN        Miami
Laura     NaN      Orlando
Mona      NaN          NaN

## Replace Values

สามารถแก้ไขข้อมูลโดยการนำข้อมูลใหม่ใส่แทนข้อมูลเก่าได้โดยใช้เป็น `.replace( old_value, new_value)`
โดยจะเป็นการเปลี่ยนข้อมูลที่เป็น `old_value` เป็น `new_value`

In [ ]:
df_replaced = df.replace('Los Angeles', 'LA')

print("\nDataFrame after replacing 'Los Angeles' with 'LA':")
print(df_replaced)

DataFrame after replacing 'Los Angeles' with 'LA':
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0           LA   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace     NaN  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack      NaN     San Jose   95000.0
Kevin     NaN        Miami       NaN
Laura     NaN      Orlando       NaN
Mona      NaN          NaN       NaN

## Fill NaN Values

เนื่องจากในข้อมูลมี NaN value ถ้าเกิด drop NaN ไปทั้งหมดอาจทำให้มีข้อมูลไม่เพียงพอจึงจำเป็นต้องเก็บไว้ทำให้บางครั้งจำเป็นจะต้องเปลี่ยน NaN value เป็นค่าอื่นตามความเหมาะสม

โดยปกติการ `.fillna(value)` จะทำการแทนค่า NaN ทั้งหมดด้วย `value` ในทุก ๆ columns และ rows โดย `.fillna()` จะมี Parameters ดังนี้

`fillna` Parameters

- **value**:
  - สามารถเป็น scalar, dict, Series, หรือ DataFrame
  - เป็นค่าที่ใช้ในการเติม NaN (เช่น 0) หรือสามารถเป็น dict/Series/DataFrame ที่ระบุค่าสำหรับแต่ละ index (สำหรับ Series) หรือ column (สำหรับ DataFrame)
  - ค่าที่ไม่ได้อยู่ใน dict/Series/DataFrame จะไม่ถูกเติมเต็ม

- **method**: {‘backfill’, ‘bfill’, ‘ffill’, None}, default None
  - วิธีที่ใช้ในการเติมช่องว่างใน Series ที่มีการ reindex:
    - `ffill`: เติมค่าจากค่าล่าสุดที่ไม่ใช่ NaN ไปข้างหน้า
    - `backfill` / `bfill`: ใช้ค่าถัดไปที่ไม่ใช่ NaN เติมเข้าไป

- **axis**: {0 or ‘index’} for Series, {0 or ‘index’, 1 or ‘columns’} for DataFrame
  - แกนที่ใช้ในการเติมค่า NaN:
    - `0` หรือ ‘index’: เติมตามแนวแถว
    - `1` หรือ ‘columns’: เติมตามแนวคอลัมน์

- **inplace**: bool, default False
  - ถ้าเป็น `True` จะเติมค่าใน DataFrame หรือ Series ที่ใช้งานอยู่เลย
  - ถ้าเป็น `False` จะสร้าง DataFrame หรือ Series ใหม่ที่มีการเติมค่า NaN แล้ว

- **limit**: int, default None
  - ถ้ากำหนด method จะเป็นจำนวนสูงสุดของค่า NaN ที่จะเติมเต็มได้ต่อเนื่องกัน:
    - ถ้ามีช่วงที่มีค่า NaN มากกว่าค่านี้ จะเติมเต็มเพียงบางส่วน
  - ถ้าไม่ได้กำหนด method จะเป็นจำนวนสูงสุดของค่า NaN ที่จะเติมเต็มได้ในแกนทั้งหมด
  - ค่านี้ต้องมากกว่า 0 ถ้าไม่เป็น None

- **downcast**: dict, default is None
  - เป็น dict ที่กำหนดชนิดข้อมูลที่ต้องการลดขนาด ถ้าเป็นไปได้ หรือใช้ ‘infer’ เพื่อลองลดขนาดให้เหมาะสม (เช่น float64 เป็น int64 ถ้าเป็นไปได้)

In [ ]:
df_filled_zeros = df.fillna(0)

print("\nDataFrame after filling NaN values with 0:")
print(df_filled_zeros)

df_filled_mean = df.fillna(df.mean(numeric_only=True))

print("\nDataFrame after filling NaN values with the mean of the column:")
print(df_filled_mean)

df_filled_median = df.fillna(df.median(numeric_only=True))

print("\nDataFrame after filling NaN values with the median of the column:")
print(df_filled_median)

DataFrame after filling NaN values with 0:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace     0.0  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0            0  115000.0
Jack      0.0     San Jose   95000.0
Kevin     0.0        Miami       0.0
Laura     0.0      Orlando       0.0
Mona      0.0            0       0.0

DataFrame after filling NaN values with the mean of the column:
            Age         City    Salary
Name
Alice    25.000     New York   70000.0
Bob      30.000  Los Angeles   80000.0
Charlie  35.000      Chicago  120000.0
David    40.000      Houston   95000.0
Eva      45.000      Phoenix  105000.0
Alice    25.000     New York   70000.0
Grace    39.375  San Antonio   90000.0
Henry    55.000       Dallas  110000.0
Ivy      60.000          NaN  115000.0
Jack     39.375     San Jose   95000.0
Kevin    39.375        Miami   95000.0
Laura    39.375      Orlando   95000.0
Mona     39.375          NaN   95000.0

DataFrame after filling NaN values with the median of the column:
          Age         City    Salary
Name
Alice    25.0     New York   70000.0
Bob      30.0  Los Angeles   80000.0
Charlie  35.0      Chicago  120000.0
David    40.0      Houston   95000.0
Eva      45.0      Phoenix  105000.0
Alice    25.0     New York   70000.0
Grace    37.5  San Antonio   90000.0
Henry    55.0       Dallas  110000.0
Ivy      60.0          NaN  115000.0
Jack     37.5     San Jose   95000.0
Kevin    37.5        Miami   95000.0
Laura    37.5      Orlando   95000.0
Mona     37.5          NaN   95000.0

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, np.nan, np.nan, 4]
})

df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0

In [ ]:
df_filled_dict = df.fillna({'A': 0, 'B': 1, 'C': 2})
print(df_filled_dict)

     A    B    C
0  1.0  1.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  2.0
3  4.0  4.0  4.0

In [ ]:
df_filled_ffill = df.fillna(method='ffill')
print(df_filled_ffill)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  1.0
2  2.0  3.0  1.0
3  4.0  4.0  4.0

In [ ]:
df_filled_bfill = df.fillna(method='bfill')
print(df_filled_bfill)

     A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  4.0
2  4.0  3.0  4.0
3  4.0  4.0  4.0

In [ ]:
df_filled_axis = df.fillna(method='ffill', axis=1)
print(df_filled_axis)

     A    B    C
0  1.0  1.0  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  4.0

In [ ]:
df_limit = pd.DataFrame({
    'A': [1, np.nan, np.nan, 4],
    'B': [np.nan, np.nan, 3, 4],
    'C': [1, np.nan, np.nan, np.nan]
})

df_filled_limit = df_limit.fillna(method='ffill', limit=1)
print(df_filled_limit)

     A    B    C
0  1.0  NaN  1.0
1  1.0  NaN  1.0
2  NaN  3.0  NaN
3  4.0  4.0  NaN

In [ ]:
df_downcast = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1.0, np.nan, np.nan, 4.0]
})

df_filled_downcast = df_downcast.fillna(0, downcast='infer')
print(df_filled_downcast)

   A  B  C
0  1  0  1
1  2  2  0
2  0  3  0
3  4  4  4